########################
## estimate functions ##
########################

#  estimate
export(estimate)
export(estimate.default)
export(summary.estimate)
export(print.estimate)
export(plot.estimate)

# loocv
export(loocv)
export(loocv.default)
export(plot.loocv)
export(print.loocv)
export(summary.loocv)

# predict
export(predict.estimate)
export(plot.predict)
export(summary.predict)
export(print.predict)
export(head.predict)

# select
export(select)
export(select.estimate)
export(print.select.estimate)
export(summary.select.estimate )
export(plot.select.estimate)
export(head.select.estimate)

# edge compare (estimate)
export(edge_compare)
export(edge_compare.estimate)
export(summary.edge_compare.estimate)
export(print.edge_compare.estimate)
export(head.edge_compare.estimate)
export(plot.edge_compare.estimate)

# explore
export(explore)
export(explore.default)
export(print.explore)
export(summary.explore)
export(select.explore)
export(summary.select.explore)
export(print.select.explore)
export(head.select.explore)
export(plot.select.explore)

# edge compare explore
export(edge_compare.explore)
export(print.edge_compare.explore)
export(summary.edge_compare.explore)
export(head.edge_compare.explore)
export(plot.edge_compare.explore)

# confirmatory
export(confirm)
export(confirm.default)
export(print.confirm)
export(summary.confirm)

# ggms predictive check
export(ggm_compare_ppc)
export(ggm_compare_ppc.default)
export(print.ggm_compare_ppc)
export(summary.ggm_compare_ppc)
export(plot.ggm_compare_ppc)

# ggms BF
export(ggm_compare_bf)
export(ggm_compare_bf.default)
export(print.select.ggm_compare_bf)
export(summary.select.ggm_compare_bf)
export(print.select.ggm_compare_bf)
export(select.ggm_compare_bf)
export(print.ggm_compare_bf)
export(summary.ggm_compare_bf)
export(plot.select.ggm_compare_bf)

# ggm pairwise edge differences
export(ggm_compare_estimate)
export(ggm_compare_estimate.default)
export(summary.ggm_compare_estimate)
export(print.ggm_compare_estimate)
export(select.ggm_compare_estimate)
export(print.select.ggm_compare_estimate)
export(summary.select.ggm_compare_estimate)
export(plot.select.ggm_compare_estimate)

# inv to regression
export(coef.estimate)

# hypothesis plot
export(hypothesis_plot)

# imports
import(ggplot2)
import(ggraph)

importFrom(ggridges, geom_density_ridges)
importFrom(ggridges, stat_density_ridges)
importFrom(mvnfast,  rmvn)
importFrom(foreach, "%dopar%")
importFrom(foreach, "foreach")

