name: test-coverage

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-deps@v2
        with:
          extra-packages: |
            any::covr

      - name: Compute coverage
        run: |
          covr::codecov(
            type = "all",
            quiet = FALSE
          )
        shell: Rscript {0}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

